.auto-list-container {
    background-color: #f8f3c6;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    display: flex;
    flex-direction: column; 
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.driver-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.driver-card img {
    width: 50px;
    border-radius: 50%;
}

.driver-info {
    flex-grow: 1;
    padding: 0 20px;
}

.driver-info h3 {
    margin: 0;
    color: #000;
}

.driver-info p {
    margin: 5px 0;
    color: #666;
}

.call-button {
    background-color: #1438a5;
    color: white;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.call-button img {
    margin-right: 10px;
    width: 20px;
    height: auto;
}



