.auto-list-container {
    background-color: #f8f3c6;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    display: flex;
    flex-direction: column; 
}
  

.driver-card {
    background-color: aqua;
}



